<launch>
  <node name="feynmannode"
        pkg="feynman_camera"
        type="feynman_camera"
        output="screen"
        required="true">
    <param name="device_id" value="305419896" />
    <param name="resolution" value="640x400" />
    <param name="fps" value="30" />
    <param name="pubrgb" value="false" />
    <param name="pubir" value="false" />
    <param name="pubdotcloud" value="true" />
    <param name="pubdepth" value="true" />
    <param name="savedata" value="false" />
    <param name="pubdepthalign" value="false" />
    <param name="confidence" value="false" />
    <param name="pubpseudo" value="true" />
    <param name="pubimu" value="false" />
  </node>
</launch>
